<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MyWindowsMediaPlayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MyWindowsMediaPlayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <MyWindowsMediaPlayer.Properties.Settings>
            <setting name="TwitterToken" serializeAs="String">
                <value />
            </setting>
            <setting name="TwitterAccess" serializeAs="String">
                <value />
            </setting>
            <setting name="TwitterAccessSecret" serializeAs="String">
                <value />
            </setting>
        </MyWindowsMediaPlayer.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <MyWindowsMediaPlayer.Properties.Settings>
      <setting name="PlaylistsPath" serializeAs="String">
        <value>MyWindowsMediaPlayer_buchse_a\playlists.xml</value>
      </setting>
      <setting name="LibrariesPath" serializeAs="String">
        <value>MyWindowsMediaPlayer_buchse_a\libraries.xml</value>
      </setting>
      <setting name="AppDataFolder" serializeAs="String">
        <value>MyWindowsMediaPlayer_buchse_a</value>
      </setting>
    </MyWindowsMediaPlayer.Properties.Settings>
  </applicationSettings>
</configuration>